<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tuition</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <nav>
        <ul id="nav-lists">
          <li class="nav-item">
            <img src="/logo.png" width="200px" alt="logo" />
          </li>
          <button
            v-if="cart.length > 0"
            @click="ToggleSectionChange"
            style="width: 100px"
          >
            {{buttonName}}
          </button>
        </ul>
      </nav>
      <main>
        <div class="sidebar">
          <h3>Sort By</h3>
          <form action="#" id="sort">
            <div>
              <input
                type="radio"
                id="subject"
                name="sort"
                value="subject"
                v-model="selectedValue"
                @change="sortClasses"
              />
              <label for="subject">Subject</label>
            </div>
            <div>
              <input
                type="radio"
                id="Location"
                name="sort"
                value="location"
                v-model="selectedValue"
                @change="sortClasses"
              />
              <label for="Location">Location</label>
            </div>
            <div>
              <input
                type="radio"
                id="Price"
                name="sort"
                value="price"
                v-model="selectedValue"
                @change="sortClasses"
              />
              <label for="Price">Price</label>
            </div>
            <div>
              <input
                type="radio"
                id="availability"
                name="sort"
                value="availability"
                v-model="selectedValue"
                @change="sortClasses"
              />
              <label for="availability">Availability</label>
            </div>
          </form>
          <br />
          <h3>Order By</h3>
          <form action="#">
            <div>
              <input
                type="radio"
                id="ascending"
                name="order"
                value="ascending"
                v-model="selectedSortOrder"
                @change="sortClasses"
              />
              <label for="ascending">Ascending</label>
            </div>
            <div>
              <input
                type="radio"
                id="descending"
                name="order"
                value="descending"
                v-model="selectedSortOrder"
                @change="sortClasses"
              />
              <label for="descending">Descending</label>
            </div>
          </form>
        </div>
        <section class="content">
          <div id="store" v-if="title === 'Shop'">
            <h1 class="title">{{ title }}</h1>
            <!-- Search section -->
            <div id="search">
              <div style="width: 100%; display: flex; margin-block: 10px">
                <input
                  type="text"
                  v-model="searchQuery"
                  placeholder="Search for a subject"
                  style="
                    flex: 4;
                    border-radius: 10px 0px 0px 10px;
                    height: 35px;
                  "
                  @input="search"
                />
                <button
                  @click="search"
                  style="
                    flex: 1;
                    border-radius: 0px 10px 10px 0px;
                    height: 35px;
                  "
                >
                  Search
                </button>
              </div>
              <div class="grid-container" id="searchResult" v-if="searchMode">
                <div
                  class="card"
                  v-for="after in searchResult"
                  :key="after._id"
                  v-if="!noResult"
                >
                  <div class="card-content">
                    <div>
                      <p>Subject: {{after.subject}}</p>
                      <p>Location: {{after.location}}</p>
                      <p>Price: £{{after.price}}</p>
                      <p>Space: {{after.space}}</p>
                    </div>
                    <div>
                      <img
                        :src="ImageLink(after.subject)"
                        alt="text"
                        width="100%"
                        height="100%"
                      />
                    </div>
                  </div>
                  <button
                    id="addToCart"
                    @click="AddToCart(after)"
                    :disabled="after.space === 0"
                  >
                    Add To Cart
                  </button>
                </div>
                <div v-if="noResult">No Result Found</div>
              </div>
            </div>
            <div class="grid-container" v-if="!searchMode">
              <div class="card" v-for="after in classes" :key="after._id">
                <div class="card-content">
                  <div>
                    <p>Subject: {{after.subject}}</p>
                    <p>Location: {{after.location}}</p>
                    <p>Price: £{{after.price}}</p>
                    <p>Space: {{after.space}}</p>
                  </div>
                  <div>
                    <img
                      :src="ImageLink(after.subject)"
                      alt="text"
                      width="100%"
                      height="100%"
                    />
                  </div>
                </div>
                <button
                  id="addToCart"
                  @click="AddToCart(after)"
                  :disabled="after.space === 0"
                >
                  Add To Cart
                </button>
              </div>
            </div>
          </div>
          <div v-else-if="title === 'Cart' ">
            <h1 class="title">{{title}}</h1>
            <div class="grid-container">
              <div class="card" v-for="after in cart" :key="after._id">
                <div class="card-content">
                  <div>
                    <p>Subject: {{after.subject}}</p>
                    <p>Location: {{after.location}}</p>
                    <p>Price: {{after.price}}</p>
                    <p>Space: {{after.space}}</p>
                  </div>
                  <div>
                    <img
                      :src="ImageLink(after.subject)"
                      alt="text"
                      width="100%"
                      height="100%"
                    />
                  </div>
                </div>
                <button
                  id="removeToCart"
                  @click="RemoveToCart(after)"
                  :disabled="after.space === 0"
                >
                  Remove
                </button>
              </div>
            </div>
            <div>
              <h2 style="margin-block: 10px">Checkout</h2>
              <div>
                <p>Total: £{{total}}</p>
                <!-- Name Input Field -->
                <div id="checkout-form">
                  <div class="checkout-form-input">
                    <label for="name">Name:</label>
                    <input
                      id="name"
                      type="text"
                      v-model="name"
                      placeholder="Enter your name"
                      @input="validation"
                    />
                    <small v-if="nameError" class="errorMessage"
                      >{{nameError}}</small
                    >
                  </div>
                  <!-- Phone Number Input Field -->
                  <div class="checkout-form-input">
                    <label for="number">Phone:</label>
                    <input
                      id="number"
                      type="text"
                      v-model="phone"
                      placeholder="Enter your phone number"
                      @input="validation"
                    />
                    <small v-if="phoneError" class="errorMessage"
                      >{{phoneError}}</small
                    >
                  </div>
                  <!-- Email Input Field -->
                  <div class="checkout-form-input">
                    <label for="email">Email:</label>
                    <input
                      id="email"
                      type="text"
                      v-model="email"
                      placeholder="Enter your email"
                      @input="validation"
                    />
                    <small v-if="emailError" class="errorMessage"
                      >{{emailError}}</small
                    >
                  </div>
                </div>
                <button @click="Checkout" :disabled="checkoutBtn">
                  Checkout
                </button>
              </div>
            </div>
          </div>
          <div id="search-result"></div>
        </section>
      </main>
    </div>
    <script type="module" src="index.js"></script>
  </body>
</html>
