<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tuition</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Pirata+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <nav>
        <ul id="nav-lists">
          <li class="nav-item">
            <h1>After School Tutoring</h1>
          </li>
          <button
            v-if="cart.length > 0"
            v-on:click="ToggleSectionChange"
            style="width: 100px"
          >
            {{buttonName}}
          </button>
        </ul>
      </nav>
      <main>
        <div class="sidebar" v-if="title === 'Shop'">
          <h3>Sort By</h3>
          <form action="#" id="sort">
            <div>
              <input
                type="radio"
                id="subject"
                name="sort"
                value="subject"
                v-model="selectedValue"
                v-on:change="sortClasses"
              />
              <label for="subject">Subject</label>
            </div>
            <div>
              <input
                type="radio"
                id="Location"
                name="sort"
                value="location"
                v-model="selectedValue"
                v-on:change="sortClasses"
              />
              <label for="Location">Location</label>
            </div>
            <div>
              <input
                type="radio"
                id="Price"
                name="sort"
                value="price"
                v-model="selectedValue"
                v-on:change="sortClasses"
              />
              <label for="Price">Price</label>
            </div>
            <div>
              <input
                type="radio"
                id="availability"
                name="sort"
                value="availability"
                v-model="selectedValue"
                v-on:change="sortClasses"
              />
              <label for="availability">Availability</label>
            </div>
          </form>
          <br />
          <h3>Order By</h3>
          <form action="#">
            <div>
              <input
                type="radio"
                id="ascending"
                name="order"
                value="ascending"
                v-model="selectedSortOrder"
                v-on:change="sortClasses"
              />
              <label for="ascending">Ascending</label>
            </div>
            <div>
              <input
                type="radio"
                id="descending"
                name="order"
                value="descending"
                v-model="selectedSortOrder"
                v-on:change="sortClasses"
              />
              <label for="descending">Descending</label>
            </div>
          </form>
        </div>
        <section class="content">
          <div id="store" v-if="title === 'Shop'">
            <h1 class="title">{{ title }}</h1>
            <!-- Search section -->
            <div id="search">
              <div style="width: 100%; display: flex; margin-block: 10px">
                <input
                  type="text"
                  id="searchInput"
                  v-model="searchQuery"
                  placeholder="Search for a subject"
                  v-on:input="search"
                />
                <button v-on:click="search">Search</button>
              </div>
              <div class="grid-container" id="searchResult" v-if="searchMode">
                <div
                  class="card"
                  v-for="after in searchResult"
                  :key="after._id"
                  v-if="!noResult"
                >
                  <div class="card-content">
                    <div>
                      <p><strong>Subject:</strong> {{after.subject}}</p>
                      <p><strong>Location:</strong> {{after.location}}</p>
                      <p><strong>Price:</strong> £{{after.price}}</p>
                      <p><strong>Available Seats:</strong> {{after.space}}</p>
                    </div>
                    <div>
                      <img
                        :src="ImageLink(after.subject)"
                        alt="text"
                        width="100%"
                        height="100%"
                      />
                    </div>
                  </div>
                  <button
                    id="addToCart"
                    v-on:click="AddToCart(after)"
                    :disabled="after.space === 0"
                  >
                    Add To Cart
                  </button>
                </div>
                <div v-if="noResult">No Result Found</div>
              </div>
            </div>
            <div class="grid-container" v-if="!searchMode">
              <div class="card" v-for="after in classes" :key="after._id">
                <div class="card-content">
                  <div>
                    <p><strong>Subject:</strong> {{after.subject}}</p>
                    <p><strong>Location:</strong> {{after.location}}</p>
                    <p><strong>Price:</strong> £{{after.price}}</p>
                    <p><strong>Available Seats:</strong> {{after.space}}</p>
                  </div>
                  <div>
                    <img
                      :src="ImageLink(after.subject)"
                      alt="text"
                      width="100%"
                      height="100%"
                    />
                  </div>
                </div>
                <button
                  id="addToCart"
                  v-on:click="AddToCart(after)"
                  :disabled="after.space === 0"
                >
                  Add To Cart
                </button>
              </div>
            </div>
          </div>
          <div id="cart-section" v-else-if="title === 'Cart' ">
            <h1 class="title">{{title}}</h1>
            <div class="grid-container">
              <div class="card" v-for="after in cart" :key="after._id">
                <div class="card-content">
                  <div>
                    <p><strong>Subject:</strong> {{after.subject}}</p>
                    <p><strong>Location:</strong> {{after.location}}</p>
                    <p><strong>Price:</strong> £{{after.price}}</p>
                    <p><strong>Available Seats:</strong> {{after.space}}</p>
                  </div>
                  <div>
                    <img
                      :src="ImageLink(after.subject)"
                      alt="text"
                      width="100%"
                      height="100%"
                    />
                  </div>
                </div>
                <button
                  id="removeToCart"
                  v-on:click="RemoveToCart(after)"
                  :disabled="after.space === 0"
                >
                  Remove
                </button>
              </div>
            </div>
            <div>
              <h2>Checkout</h2>
              <div>
                <p>Total: £{{total}}</p>
                <!-- Name Input Field -->
                <div id="checkout-form">
                  <div class="checkout-form-input">
                    <label for="name">Name:</label>
                    <input
                      id="name"
                      type="text"
                      v-model="name"
                      placeholder="Enter your name"
                      v-on:input="validation"
                    />
                    <small v-if="nameError" class="errorMessage"
                      >{{nameError}}</small
                    >
                  </div>
                  <!-- Phone Number Input Field -->
                  <div class="checkout-form-input">
                    <label for="number">Phone:</label>
                    <input
                      id="number"
                      type="text"
                      v-model="phone"
                      placeholder="Enter your phone number"
                      v-on:input="validation"
                    />
                    <small v-if="phoneError" class="errorMessage"
                      >{{phoneError}}</small
                    >
                  </div>
                  <!-- Email Input Field -->
                  <div class="checkout-form-input">
                    <label for="email">Email:</label>
                    <input
                      id="email"
                      type="text"
                      v-model="email"
                      placeholder="Enter your email"
                      v-on:input="validation"
                    />
                    <small v-if="emailError" class="errorMessage"
                      >{{emailError}}</small
                    >
                  </div>
                  <!-- Address Input Field -->
                  <div class="checkout-form-input">
                    <label for="address">Address:</label>
                    <input
                      id="address"
                      type="text"
                      v-model="address"
                      placeholder="Enter your address"
                      v-on:input="validation"
                    />
                    <small v-if="addressError" class="errorMessage"
                      >{{addressError}}</small
                    >
                  </div>
                  <button v-on:click="Checkout" :disabled="checkoutBtn">
                    Checkout
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div id="search-result"></div>
        </section>
      </main>
      <div id="modal">
        <div class="receipt-container">
          <div class="receipt-close" v-on:click="closeModal">X</div>
          <div class="receipt-header">
            <h1>Receipt {{new Date().toLocaleString()}}</h1>
            <div class="receipt-header-container">
              <div>
                <p><strong>Name:</strong> {{name}}</p>
                <p><strong>Phone Number:</strong> {{phone}}</p>
              </div>
              <div>
                <p><strong>Email:</strong> {{email}}</p>
                <p><strong>Address:</strong> {{address}}</p>
              </div>
            </div>
          </div>

          <div class="receipt-body">
            <table>
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in cart" :key="item._id">
                  <td>{{item.subject}}</td>
                  <td>{{item.space}}</td>
                  <td>{{item.price}}</td>
                  <td>{{item.price * item.space}}</td>
                </tr>
              </tbody>
            </table>
            <div id="receipt-total">
              <p>Total: Rs {{total}}</p>
            </div>
          </div>
          <div class="receipt-footer">
            <p>Thank you for shopping with us ✨</p>
          </div>
        </div>
      </div>
      <footer>
        <p>&copy; 2024 TutorialApp by Midev</p>
      </footer>
    </div>

    <script>
      const imageLink = {
        math: "https://tutorialappbackend.onrender.com/static/math.jpeg",
        physics: "https://tutorialappbackend.onrender.com/static/physics.png",
        chemistry:
          "https://tutorialappbackend.onrender.com/static/chemistry.jpeg",
        biology: "https://tutorialappbackend.onrender.com/static/biology.png",
        english: "https://tutorialappbackend.onrender.com/static/english.jpg",
        history: "https://tutorialappbackend.onrender.com/static/history.jpeg",
        geography:
          "https://tutorialappbackend.onrender.com/static/geography.jpeg",
        french: "",
      };

      const app = new Vue({
        el: "#app",
        data: {
          selectedValue: "subject",
          selectedSortOrder: "ascending",
          title: "Shop",
          name: "",
          phone: "",
          email: "",
          address: "",
          cart: [],
          classes: [],
          checkoutBtn: true,
          searchResult: [],
          searchQuery: "",
          // Errors
          phoneError: "",
          nameError: "",
          emailError: "",
          addressError: "",
          // Search
          searchMode: false,
          noResult: false,
        },
        methods: {
          AddToCart: async function (subject) {
            subject.space = subject.space - 1;

            let newClass = { ...subject };

            let cartItem = this.cart.find((item) => item._id === newClass._id);

            if (cartItem) {
              cartItem.space++;
            } else {
              newClass.space = 1;

              this.cart.push(newClass);
            }
          },
          RemoveToCart: function (subject) {
            this.cart.forEach((element) => {
              if (element._id === subject._id) {
                element.space--;

                if (element.space === 0) {
                  this.cart = this.cart.filter(
                    (item) => item._id !== element._id
                  );
                }
              }
            });

            this.classes.forEach((element) => {
              if (element._id === subject._id) {
                element.space++;
              }
            });

            if (this.cart.length === 0) {
              this.title = "Shop";
            }
          },
          ImageLink: function (subject) {
            switch (subject) {
              case "Math":
                return imageLink.math;
              case "Physics":
                return imageLink.physics;
              case "Chemistry":
                return imageLink.chemistry;
              case "Biology":
                return imageLink.biology;
              case "English":
                return imageLink.english;
              case "History":
                return imageLink.history;
              case "Geography":
                return imageLink.geography;
              case "French":
                return imageLink.french;
              default:
                return "";
            }
          },
          ToggleSectionChange: function () {
            if (this.title === "Shop") {
              this.title = "Cart";
            } else if (this.title === "Cart") {
              this.title = "Shop";
            }
          },
          sortClasses() {
            const sortCriteria = {
              subject: (a, b) => a.subject.localeCompare(b.subject),
              location: (a, b) => a.location.localeCompare(b.location),
              price: (a, b) => a.price - b.price,
              availability: (a, b) => a.space - b.space,
            };

            const sortOrder = this.selectedSortOrder === "ascending" ? 1 : -1;
            const criteria = sortCriteria[this.selectedValue];

            if (criteria) {
              this.classes.sort((a, b) => sortOrder * criteria(a, b));
              this.searchResult.sort((a, b) => sortOrder * criteria(a, b));
            }
          },
          Checkout: function () {
            if (this.checkoutBtn === false) {
              const postCheckout = async () => {
                try {
                  // Update class space
                  this.cart.forEach((item) => {
                    this.classes.forEach(async (element) => {
                      if (element._id === item._id) {
                        await fetch(
                          `https://tutorialappbackend.onrender.com/lesson`,
                          {
                            method: "PUT",
                            headers: {
                              "Content-Type": "application/json",
                            },
                            body: JSON.stringify({
                              _id: element._id,
                              subject: element.subject,
                              location: element.location,
                              price: element.price,
                              space: element.space,
                            }),
                          }
                        );
                      }
                    });
                  });

                  // Post checkout
                  const response = await fetch(
                    "https://tutorialappbackend.onrender.com/order",
                    {
                      method: "POST",
                      headers: {
                        "Content-Type": "application/json",
                      },
                      body: JSON.stringify({
                        name: this.name,
                        phone: this.phone,
                        email: this.email,
                        address: this.address,
                        date: new Date().toISOString(),
                        total: this.total,
                        cart: this.cart,
                      }),
                    }
                  );

                  const data = await response.json();
                  if (data.message === "Class already booked with that name") {
                    alert("Class already booked with that name");
                    this.name = "";
                    this.phone = "";
                    this.checkoutBtn = true;
                  } else {
                    this.title = "Shop";
                    let modal = document.querySelector("#modal");
                    modal.style.display = "block";

                    window.onclick = (event) => {
                      if (event.target === modal) {
                        this.cart = [];
                        modal.style.display = "none";
                      }
                    };
                  }
                } catch (error) {
                  alert("Checkout failed");
                  console.error(error);
                }
              };
              postCheckout();
            }
          },
          closeModal: function () {
            this.cart = [];
            let modal = document.querySelector("#modal");
            modal.style.display = "none";
          },
          validation: function () {
            this.nameError = "";
            this.phoneError = "";
            this.emailError = "";
            this.addressError = "";
            this.checkoutBtn = false;
            const regexText = new RegExp("^[a-zA-Z]*$");
            const regexNum = new RegExp("^[0-9]*$");
            const regexEmail = new RegExp(
              "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,}$"
            );
            //* Name Validation
            if (this.name.length === 0) {
              this.nameError = "Name is required";
              this.checkoutBtn = true;
            }

            if (this.name.length > 0) {
              if (regexText.test(this.name) === false) {
                this.nameError = "Name must be alphabetic";
                this.checkoutBtn = true;
              }
            }

            //* Phone Validation
            if (this.phone.length === 0) {
              this.phoneError = "Phone is required";
              this.checkoutBtn = true;
            }
            if (this.phone.length > 0) {
              if (regexNum.test(this.phone) === false) {
                this.phoneError = "Phone number must be numeric";
                this.checkoutBtn = true;
              }
            }
            //* Email validation
            if (this.email.length === 0) {
              this.emailError = "Email is required";
              this.checkoutBtn = true;
            }

            if (this.email.length > 0) {
              if (regexEmail.test(this.email) === false) {
                this.emailError = "Email must be valid";
                this.checkoutBtn = true;
              }
            }

            //* Address validation
            if (this.address.length === 0) {
              this.addressError = "Address is required";
              this.checkoutBtn = true;
            }

            if (
              this.nameError === "" &&
              this.phoneError === "" &&
              this.emailError === "" &&
              this.addressError === ""
            ) {
              this.checkoutBtn = false;
            }
          },
          search: async function () {
            try {
              if (this.searchQuery !== "") {
                this.searchMode = true;
                const response = await fetch(
                  `https://tutorialappbackend.onrender.com/search?search=${this.searchQuery.toString()}`,
                  {
                    method: "GET",
                    headers: {
                      "Content-Type": "application/json",
                    },
                  }
                );
                const data = await response.json();

                if (data.length === 0) {
                  this.noResult = true;
                } else {
                  this.noResult = false;
                  this.searchResult = data;
                }
              }
            } catch (error) {
              console.error(error);
            }
          },
        },
        computed: {
          total: function () {
            return this.cart.reduce(
              (acc, item) => acc + item.price * item.space,
              0
            );
          },
          buttonName: function () {
            if (this.title === "Shop") {
              return "Cart";
            }
            return "Shop";
          },
        },
        mounted: function () {
          this.sortClasses();

          const load = async () => {
            try {
              const response = await fetch(
                "https://tutorialappbackend.onrender.com/lessons",
                {
                  method: "GET",
                  headers: {
                    "Content-Type": "application/json",
                  },
                }
              );
              const data = await response.json();
              this.classes = data;
            } catch (error) {
              console.error(error);
            }
          };
          load();
        },
      });
    </script>
  </body>
</html>
